

.square div {
    width: 90px;
    height: 90px;
}


#square1 {
    background-color: blue;
}

#square2 {
    background-color: #ff0000;
}

#square3 {
    background-color: green;
}

#square4 {
    background-color: none;
    margin-top: 10px;
    height: 30px;
    width: 20;
}
