/* src/css/main.css */


.logElement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
textarea{
    height: 200px;
    width: 50%;
    resize: none;

    background-color: black;
    color: aqua;
    border-radius: 10px;
}

.square, .squareOne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.square div, .squareOne div {
    width: 90px;
    height: 90px;
    border-radius: 10px; 
}

#square1, #square1One {
    background-color: rgb(36, 200, 134);
}

#square2, #square2Two {
    background-color: #3989bb;
}

#square3, #square3Tree {
    background-color: rgb(177, 46, 155);
}

#square4 {
    background-color: none;

}

.squares-text {
    display: flex;
    justify-content: center;
    align-items: center;
}


.event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
}

