body {
    background-color: black;
    color: beige;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column; /* Вертикальная компоновка */
    align-items: center;
    height: 60%;
    width: 26%;
    background: rgb(0,143,157);
    background: linear-gradient(282deg, rgba(0,143,157,0.3512255243894433) 0%, rgba(121,70,252,0.5977241238292192) 100%);
    border-radius: 10px;
}



h1 {
    border-radius: 10px;
    color: rgba(0, 255, 255, 0.258);
    margin: 0;

}

.inputs {
    display: flex;
    flex-direction: column; /* Вертикальная компоновка инпутов */
    align-items: center;
    width: 100%;
    margin-top: 10%;
    
}

.inputs input {
    margin: 10px 0; /* Отступы между инпутами */
    padding: 10px;
    width: 80%; /* Ширина инпутов */
    border-radius: 5px;
}


.lables {
    display: flex;
    margin-right: 60%;
}


button {
    padding: 10px 20px;
    border: none;
    width: 100%; /* Ширина инпутов */
    height: 20%;
    border-radius: 5px;
    background-color: rgba(0, 136, 255, 0.156);
    color: beige;
    cursor: pointer;
    margin-top: 20px;
}